<h1>User index</h1>

<a href="/user/new">Create New User</a>

{{#each users}}
  <div>
    <p>Name: {{ this.name }}</p>
  </div>
  <a href="/user/{{this._id}}">View User</a>
  <a href="/user/{{this._id}}/edit">Edit User</a>
  <a href="/user/{{this._id}}?_method=DELETE">Delete User</a>
{{/each}}