<h1>New User</h1>

<form method="post" action="/user">
    <div>
        <label for="name">Name</label>
    </div>
    <div>
        <input type="text" name="name" />
    </div>
    <div>
        <label for "dob">Date of Birth</label>
    </div>
    <div>
        <input type="date" name="dob" />
    </div>
    <div>
        <input type="submit" value="Submit Form" />
    </div>
</form>