<h1>Dashboard</h1>
<h2>Welcome {{name}} </h2>

<div>
  <a href="/user/{{_id}}">My Profile</a>
</div>

<h2>Daily Habits</h2>
<a href="/habits/daily">Daily View</a>
<a href="/habits/weekly">Weekly View</a>
<a href="/habits/monthly">Monthly View</a>

<footer>
  <div>
      <a href="/logout">Logout</a>
  </div>
</footer>